/* * {
  font-family: "Poppins", sans-serif;
} */

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.img-left {
  width: 30rem;
  border-radius: 20px;
}

Card {
  border-radius: 20px;
}

path {
  fill: var(--primary-color);
}

a {
  color: var(--primary-color);
}

footer {
  background: black;
  color: white;
}

svg {
  color: white;
}

.align-base {
  vertical-align: baseline;
}

@media screen and (min-width: 1025px) {
  .carousel-1 {
    margin-top: 600px;
  }
  .hero-carousel-1 .hero-heading {
    font-size: 70px;
    font-weight: 1000;
  }
  .hero-heading-2 {
    padding-bottom: 50px;
  }
  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 250px;
    left: 380px;
  }

  .middle-content{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
  }

  .brand-text{
    padding-top: 20px;
  }

  .dot {
    height: 5px;
    width:5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
  }
  .parent {
    position: relative;
    top: 0;
    left: 0;
    height: 300px;
    width: 400px;
    overflow:visible;
    height: 500px;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px;
  }
  .image2 {
    position: absolute;
    top: 220px;
    left: 90px;
    border-radius: 40px;
  }
  .image2 {
    position: absolute;
    top: 220px;
    left: 90px;
    border-radius: 40px;
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
