.seo-img {
    align-self: flex-end;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}